article(class='room')
    header(class='room__header')
        div(class='room__src')
            img(class='room__img', src=room.images[0])
            div(class='room__number')= room.number
    div(class='room__main')
        h2(class='room__name')
            a(class='room__link' href='#')= room.title
        div(class='room_description')= room.description
    footer(class='room__footer')
        div(class='room__status')= room.status
        div(class='room__price')= room.price
        button(class='room__btn') Забранировать
